[defaults]
# The path to your inventory file containing host information
# inventory = ./inventory
inventory = inventory.ini

# The remote SSH user Ansible will use to log into the servers
remote_user = ec2-user

# Disables SSH fingerprint verification (prevents the "yes/no" prompt)
host_key_checking = False

# Prevents the creation of .retry files when a playbook fails
retry_files_enabled = False

# Changes the output format to be more human-readable (YAML style)
stdout_callback = yaml

# Suppresses warnings about Python discovery and picks the best available interpreter
interpreter_python = auto_silent

# Specifies where Ansible should look for or download Galaxy roles
roles_path = ./roles

# Allows multiple tasks to execute without closing/reopening SSH connections
# This significantly speeds up playbook execution
pipelining = True

[privilege_escalation]
# Enables the use of 'sudo' for tasks by default
become = True

# Specifies 'sudo' as the method to gain root access
become_method = sudo

# The user you are switching to (usually root)
become_user = root

# Set to False so Ansible doesn't prompt you for a sudo password every time
become_ask_pass = False