[defaults]
inventory = ./inventory.json
host_key_checking = False
remote_user = ubuntu
private_key_file = ./ssh/terraform_vm_key.pem
retry_files_enabled = False

[all:vars]
ansible_python_interpreter=/usr/bin/python3

- hosts: all
  become: yes
  roles:
    - common
    - webserver